@import "bootstrap";
@import "bootstrap-responsive";

body {
  background-color: #ededed;
}

img {
  max-height: 100%;
  max-width: 100%;
}

#topbar {
  img {
    vertical-align: middle;
  }
  z-index: $zindexFixedNavbar;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  height: 50px;
  text-align: center;
}

#myCarousel {
  height: 450px;
}

.history > li {
  position: relative;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  border-left: 3px solid #fff;

  .content {
    @include border-radius(5px);
    @include box-shadow(2px 2px 3px #aaa);
    background-color: #fff;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 40px;
    position: relative;
    z-index: 1;
    h1, p {
      background-color: #fff;
    }
    &:before {
      content: '';
      position: absolute;
      top: 40px;
      left: -55px;
      width: 10px;
      height: 10px;
      @include border-radius(20px);
      border: 10px solid #fff;
      background-color: #00ffff;
    }

    &:after {
      content: '';
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0;
      width: 50px;
      background-color: #00ffff;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 47px;
    left: 25px;
    width: 34px;
    height: 34px;
    @include rotate(45deg);
    @include box-shadow(2px 2px 3px #aaa);
    background-color: #fff;
  }
}

#yuyin {

  #zp {
    padding: 10px;
  }

  #topbar {
    background-color: #ededed;
    width: 100%;
    height: 85px;
    img {
      display: inline-block;
      height: 70px;
      margin-top: 8px;
    }

    .nav {
      margin-top: 47px;
    }

    position: fixed;
    top: 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  }

  #myCarousel {
    margin-top: 20px;
  }

  .news{
    margin: 0 50px;
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid rgb(207, 207, 207);
    font-size: 25px;
  }

  #footer{
    margin-top: 30px;
    color: #eee;
    background-color: rgb(0, 0, 10);
    @include border-radius(10px);
  }

  #content {
    margin-top: 85px;
    background: rgb(5, 5, 5);
    background: url(yuyin.jpg);
    background-attachment: fixed;
    background-repeat: repeat-x;

    .span10 {
      @include border-radius(5px);
      margin-top: 15px;
      background-color: #efefef;
    }

    .span2 {
      @include border-radius(7px);
      height: 700px;
      margin-top: 15px;
      margin-left: 1px;
      background: #050505;
      border-left: 1px solid #545454;
      border-right: 1px solid #545454;
      text-align: center;

      img {
        margin: 5px 0;
        max-width: 90%;
      }
    }

    header{
      margin-top: 40px;
      margin-left: 40px;
      font-weight: bold;
      font-size: 36px;
      font-family: Microsoft Yahei;
      p{
        margin-top: 15px;
        font-size: 16px;
      }
    }


    .text {
      img {
        float: left;
        margin: 0;
        background-color: #000;
        height: 387px;
        width: 535px;
      }
      margin-top: 30px;
      margin-left: 40px;
      font-size: 30px;
      height: 387px;
      width: 930px;
      display: block;
      margin-bottom: 20px;
    }
  }

}

#index {

  #topbar {
    background-color: #eee;
    min-height: 120px;
    margin-top: 20px;

    img {
      width: 150px;
      float: left;
      margin-right: 20px;
    }

    p {
      font-weight: bold;
    }

    #chinese {
      font-size: 3em;
      line-height: 50px;
      font-family: "Hiragino Sans GB";
    }

    #english {
      font-size: 2em;
      line-height: 30px;
      font-family: "Lucida Grande";
    }
  }

  #footer {
    color: #778899;
  }

  .room {
    position: relative;
    height: 350px;
    background-color: #808080;
    margin-bottom: 20px;

    .title {
      position: absolute;
      top: 50px;
      left: 0;
      padding: 5px;
      background-color: #fff;
      font-size: 2em;
      line-height: 50px;
      height: 50px;
      width: 200px;
      @include box-shadow(3px 5px 20px #000);
      color: #000;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

}
